.m-back-gradient-color {
  background-image: linear-gradient(
    160deg,
    #60a6fb 0%,
    hsl(215deg 95% 73%) 16%,
    hsl(216deg 96% 77%) 25%,
    hsl(218deg 96% 81%) 32%,
    hsl(219deg 96% 84%) 39%,
    hsl(220deg 97% 88%) 47%,
    hsl(220deg 97% 91%) 55%,
    hsl(221deg 98% 94%) 66%,
    hsl(222deg 98% 97%) 80%,
    hsl(0deg 0% 100%) 100%
  );
}

.payment {
  display: grid;
  // background-color: rgb(211, 211, 211);

  grid-template: 1fr / minmax(15px, 1fr) minmax(10px, 1252px) minmax(15px, 1fr);
  padding: 50px 0px;
  text-align: center;
  // height: %;
  // height: 80vh;
  background-image: url("../../assets/img/army/head/black.png");
  background-repeat: no-repeat;
  // background-attachment: fixed;
  background-position: 70% 0%;
  // background-size: cover;
  // background-position: ;
  @media (max-width: 867px) {
    background-image: url("");
  }
  &__wrapper {
    // background-color: $light;
    grid-area: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  // payment__row
  &__row {
    margin: 100px 0px;
    display: flex;
    // flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    @media (max-width: 867px) {
      flex-direction: column-reverse;
      align-items: center;
      margin: 0px;
    }
  }

  // payment__column
  &__column {
    position: relative;
    // блок с оплатой
    &:nth-child(1) {
      background-color: rgba(255, 255, 255, 0.89);
      border-radius: 7px;
      // border: 1px solid $grey;
      padding: 30px;

      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 25px;
      box-shadow: rgba(0, 0, 0, 0.349) 0px 60px 40px -7px;
      @media (max-width: 867px) {
      box-shadow: rgba(0, 0, 0, 0.075) 0px 60px 40px -7px;

      }
    }

    // блок с картинками
    &:nth-child(2) {
      // display: none;
      flex-basis: 35%;
    }
  }

  // payment__title заголовок
  &__title {
    color: $dark;
    font-size: 3.5em;
    font-weight: 700;
    letter-spacing: 1px;
  }

  // payment__checkboxes чекбоксы
  &__checkboxes {
    // display: flex;
    // flex-direction: column;
    // align-items: flex-start;
  }

  // payment__btn кнопки поддержки и реквизиты
  &__btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  // payment__btn кнопки поддержки и реквизиты
  &__btn {
    width: 50%;
    flex-basis: 50%;
    padding: 25px 20px;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 21px;
    border-radius: 5px;
    transition: background-color 0.2s ease-out;
    cursor: default;
    background-color: $blue-light;
    // background-color: $grey-light;
    // pointer-events: auto;
    &:hover.disable {
      pointer-events: none;
    }

    &:hover.active {
      background-color: #73e3a2;
      cursor: pointer;
    }
  }

  // payment__sublabel текстовый лейбл на чекбоксах
  &__sublabel {
    color: $dark;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 25px;
    &_sec {
      overflow: auto;
      text-align: start;
      display: block;
      height: 80px;
      font-size: 1.2em;
      color: $grey;
    }
    @media (max-width: 867px) {
      font-weight: 500;
      font-size: 25px;
    }
  }

  // payment__link ссылки на оферту и пол конф
  &__link {
    padding: 0px 5px;
    font-size: 1em;
    font-weight: 300;
    // letter-spacing: 2px;
    line-height: 25px;
    text-align: start;
  }

  // payment__img_big
  &__img_big {
    display: none;
    min-width: 350px;
    min-height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    @media (max-width: 867px) {
      display: none;
    }
  }
  // payment__img_med
  &__img_med {
    position: absolute;
    top: -280px;
    left: -320px;
    width: 220px;
    z-index: 4;
    min-height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;

    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    @media (max-width: 867px) {
      // top: 90px; /* position the top  edge of the element at the middle of the parent */
      // left: 50%; /* position the left edge of the element at the middle of the parent */
      position: sticky;

      // transform: translate(-50%, -50%);
    }
  }

  // payment__img_small
  &__imgs_small {
    position: absolute;
    display: flex;
    justify-content: space-around;
    gap: 5px;
    top: 10px;
    // padding: 10px;
    & .mir {
      width: 94px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 5px;
      // right: -100px;
    }
    & .master {
      width: 64px;

      background-repeat: no-repeat;

      background-size: cover;
      background-position: center;
      border-radius: 5px;
      // right: -500px;
    }
    & .visa {
      width: 64px;

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 5px;
      // right: 0px;
    }
    height: 34px;
  }
}

/* для элемента input c type="checkbox" */
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #121314;
  border-radius: 0.3em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #73e3a2;
  // box-shadow: 0 0 0 0.1rem #73e3a2;/
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active + label::before {
  background-color: #73e3a2;
  border-color: #73e3a2;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox:checked + label::before {
  border-color: #73e3a2;
  background-color: #73e3a2;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

// /* стили для чекбокса, находящегося в состоянии disabled */
// .custom-checkbox:disabled+label::before {
//     background-color: #E3B873;
// }
