.background_img {
  background-image: url(../../assets/img/army/head/head_main.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  height: 100vh;
  width: 100%;
  // position: inherit;
  // z-index: 2;
}

// f container
.banner {
  background-color: rgba(0, 0, 0, 0.726);

  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 867px) {
    justify-content: center;
    
    padding: 15px;
    gap: 30px;
  }

  &__column {
    flex-basis: 85%;
    // text-align: center;
  }
  &__title {
    font-size: 3em;
    font-weight: 600;
    letter-spacing: 4px;
    color: $light;

    p {
      font-size: 2em;
      font-weight: 900;
      letter-spacing: 4px;
      color: $light;
      padding: 7px 5px;
      transition: color 0.3s ease-in;
      &:hover {
        color: $blue;
      }
    }

    @media (max-width: 867px) {
      font-size: 1.4em;
    }
  }
  &__content {
    flex-basis: 40%;
    h2 {
      margin: 10px 0px 40px 0px;
      font-size: 2em;
      font-weight: 900;
      letter-spacing: 2px;
      color: $grey;
      @media (max-width: 867px) {
        font-size: 1.5em;
      }
    }
  }
  &__btn {
    margin-bottom: 10px;
    display: inline-block;
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 15px 25px;
    background-color: $light;
    color: $dark;
    transition: all 0.1s ease-in-out;

    &:hover {
      background-color: $blue;
      color: $light;
    }
  }
  &__sci {
    margin: 50px 50px ;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    z-index: 10;
    gap: 10px;
    .sci__link {
      width: 44px;
      transition: 0.2s;
      &:hover {
        width: 49px;
      }
    }
    @media (max-width: 867px) {
      align-self: center;
    }
  }
}
