.checkbox {
  margin-bottom: 20px;

  input {
    display: none; // убираем деф чекбокс

    // как только изменяется состояние скрытого чекбокса (label и checkbox связаны) изменят стиль псевдоэлемента before (это кастомная кнопка)
    &:checked ~ .checkbox__label::before {
      background-color: #001aff;
      background-size: 70%;
    }
  }

  // стили для label
  &__label {
    font-size: 20px;
    font-weight: 600;

    user-select: none;
    cursor: pointer;
    position: relative;

    padding-left: 45px;
    // кастомный чекбокс
    &:before {
      content: "";
      width: 25px;
      height: 25px;

      position: absolute;
      cursor: pointer;
      z-index: 3;

      // центрирую относительно lable
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      background-color: #16182d;
      border-radius: 7px;

      //плавность при изменении элемента
      transition: all 100ms ease-in-out;

      background-image: url("../../../../assets/img/done.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 0%;
    }
  }
}
