.switch {
  margin-bottom: 20px;

  input {
    display: none; // убираем деф чекбокс

    // как только изменяется состояние скрытого чекбокса (label и switch связаны) изменят стиль псевдоэлемента before (это кастомная кнопка)
    &:checked ~ .switch__label::before {
      background-color: #001aff;
    }
    // перемещаю круг вправо
    &:checked ~ .switch__label::after {
      left: 27px;
    }

    // в моммент active растягивую круг
    &:active ~ .switch__label::after {
      width: 40px;
      // left: 27px;
    }

    // перемещаю круг влево
    &:checked:active ~ .switch__label::after {
      left: 12px;
    }

    &:disabled ~ .switch__label {
      // pointer-events: none;
    }
    &:disabled ~ .switch__label::after {
      opacity: 0.5;
    }
    &:disabled ~ .switch__label::before {
      opacity: 0.5;
    }
  }

  // стили для label
  &__label {
    font-size: 20px;
    font-weight: 600;

    user-select: none;
    cursor: pointer;
    position: relative;

    padding-left: 80px;

    //плавность при изменении элемента
    transition: all 100ms ease-in-out;
    // бек свитча
    &:before {
      content: "";
      width: 55px;
      height: 30px;

      position: absolute;
      cursor: pointer;
      z-index: 3;

      // центрирую относительно lable
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      background-color: #16182d;
      border-radius: 200px;
      // наследование анимации от родителя
      transition: inherit;
    }

    &::after {
      content: "";
      width: 25px;
      height: 25px;

      position: absolute;
      z-index: 4;
      left: 3px;
      top: 2px;
      // transform: translateY(-50%);

      background-color: #fff;
      border-radius: 200px;

      transition: inherit;
    }
  }
}
