// <ШРИФТЫ>

// <Подключаем шрифты>
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap");
@import "../fonts/Circe/stylesheet.scss";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

// </Подключаем шрифты>

// <Шрифт по умолчанию>
$fontfamily: "Circe", sans-serif;
$fontfamily-v2: 'Amatic SC', cursive;

// </Шрифт по умолчанию>

// </ШРИФТЫ>

// <ПЕРЕМЕННЫЕ>
$light: rgb(254, 255, 249);
$dark: #090a1a;

// </ПЕРЕМЕННЫЕ>


* {
  scroll-behavior: smooth;
}

.root {
  // overflow: hidden;

  height: 100%;
}

// <ОБОЛОЧКА>
.wrapper {
  background-color: $dark;
  color: $light;

  // overflow: hidden;
  min-height: 100%;
  display: grid;
  grid-template: 100vh 1fr minmax(70px, auto) / minmax(80px, auto);
  grid-template-areas:
    "header"
    "main"
    "footer";
}



// </ОБОЛОЧКА>

// <ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>

// переиспользуемые стили
@import "base/module.scss";
@import "common/module.scss";
// базовая расстановка контента на странице
@import "layout/module.scss";


// подключаю стили для бокового меню и секции с основным контентом
//* общие стиль для всех секций с UI элементами
//* общий стиль заголовка для всех секций с UI элементами
@import "../components/goods/asidecontent/scss/module.scss";

// подключаю стили для UI элементов
@import "../components/common/async/scss/module.scss"; //* секция с async
@import "../components/common/btnsUI/scss/module.scss"; //* секция с кнопками
@import "../components/common/cardsUI/scss/module.scss"; //* секция с карточнами
@import "../components/common/checkboxUI/scss/module.scss"; //* секция с чекбоксами со свитчами
@import "../components/common/collageUI/scss/module.scss"; //* секция с коллажем
@import "../components/common/dropdownsUI/scss/module.scss"; //* секция с выпадающими окнами
@import "../components/common/formUI/scss/module.scss"; //* секция с формой
@import "../components/common/iconLinkUI/scss/module.scss"; //* секция с иконками ссылки на соц сети
@import "../components/common/inputsUI/scss/module.scss"; //* секция с полем ввода с поиском
@import "../components/common/modalUI/scss/module.scss"; //* секция с модальным окном
@import "../components/common/navbarUI/scss/module.scss"; //* секция с навигационнм баром
@import "../components/common/navmenu/scss/module.scss";
@import "../components/common/tooltipsUI/scss/module.scss"; //* секция с всплывающими подсказками

// </ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>
