.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;

  background-color: #23243e;
  border-radius: 10px;

  height: 65px;
  padding: 0px 30px;

  &--light {
    background-color: #fff;
    & .navbar__logo{
      color: #23243e;
    }
    & .navbar__link{
      color: #23243e;
    }

  }
  &__logo {
    font-size: 25px;
    font-weight: 800;
    line-height: 31px;
    color: #fff;
  }
  &__menu {

    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @media (max-width: 867px) {
     display: none;
    }
  }
  &__link {
    font-size: 15px;
    font-weight: 700;
    line-height: 31px;
    color: #fff;

    transition: color 150ms ease-in-out;
    &:hover{
      color:  #f73164;
    }

  }

}
