// <ПОДВАЛ САЙТА>

.footer {
  grid-area: footer;
  display: grid;
  grid-template: 1fr / minmax(15px, 1fr) minmax(10px, 1652px) minmax(15px, 1fr);
  background-color: $dark;

  &__row {
    grid-area: 1/2;
    margin: 10px;

    @include f(space-between, center, row);
  }

  &__column {
    flex: 0 1 33.333%;
    margin: 10px 0px;
  }

  &__text {
    color: #848789;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 21px;
    // color: $dark;
    & p:first-child {
      font-size: 18px;
      font-weight: 700;
    }
  }

  &__social {
    @include f(center, center, row);
    gap: 5px;
  }

  &__dev {
    @include f(flex-end, center, row);
    font-style: italic;
    font-size: 15px;
    color: #848789;
    .width {
      font-size: 1.5em;
      font-weight: 700;
    }
  }
}
.social {
  &__link img {
    width: 30px;
  }
}
.dev {
  &__text {
    color: $light;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 21px;
  }
}
@media (max-width: 867px) {
  .footer {
    &__row {
      @include f(space-between, center, column);
    }
    &__text {
      text-align: center;
    }
  }
}

// </ПОДВАЛ САЙТА>
