// <ШАПКА САЙТА>

.header {
  grid-area: header;
  display: grid;
  grid-template: 1fr / minmax(15px, 1fr) minmax(10px, 1252px) minmax(15px, 1fr);
  text-align: center;
  color: $light;
  &__wrapper {
    grid-area: 1/2;
    position: fixed;
    z-index: 100;
    // border-color: $blue;
    // background-color: $blue;
    // margin: 10px 5px;
  }
}