/*полосa прокрутки для всей страницы*/
::-webkit-scrollbar {
    width: 5px;
    background-color: #3d3d3d;

    &-thumb {
        background-color: $dark;
        border-radius: 50px;
    }
    &-track {
        -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    }
  }